@import './header.css';
@import './footer.css';
@import './responsive.css';
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Open+Sans:wght@300&display=swap');

h4 {
    font-family: Candal;
}

main h2 {
    font-family: Candal;
    color: #213E4E;
    font-size: 1.8em;
}

main h3 {
    font-family: Candal;
    font-size: 1.2em;
}


.search-box {
    display: flex;
    align-content: center;
    height: 3.6rem;
    background-color: #FB8B9B;
    && input {
        font-size: 1.6em;
        margin-left: 5%;
        background: transparent;
        color: #FFFFFF;
        border: 0;
        width: 90%;
        border: none;
        outline: none;
    }
    && input::-webkit-input-placeholder{
        color: #FFFFFF;
    }
    && input::-moz-focus-outer {
        outline: 0;
        border: 0;

    }
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    padding: 2% 10% 2% 10%;
    align-items: center;
}

.heberg-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 70vh;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    padding: 0 10% 0 10%;
}

.main-container {
    margin-top: 5em;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    && div {
        display: flex;
        align-items: center;
        flex-flow: column;
        padding: 0 2% 0 2%;
    }
}

#solution {
    border: #656563;
    display: flex;
    margin: 5% 10% 5% 10%;
    flex-flow: column;
    align-items: center;
    && h2 {
        text-align: center;
        width: 100%;
        border: 2px dashed #5A5B5D;
        border-bottom-width: 0;
        padding-top: 2em;
        padding-bottom: 1em;
    }
    && h3 {
        color: #FB8B9B;
    }
    && i {
        color: #FB8B9B;
        font-size: 3em;
    }
    && iconify-icon {
        font-size: 3em;
        color: #FB8B9B;
    }
}

.solutions {
    && p {
        text-align: center;
        color: #656563;
        font-size: 1.2em;
    }
    && span {
        color: #FB8B9B;
        font-size: 1.6em;
    }
}

.cards {
    width: 100%;
    margin-top: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    && .card-base {
        border: 1px dashed #213E4E;
        margin: 0em 2em 0em 2em;
        && h3 {
            font-size: 0.8em;
            background-color: #213E4E;
            padding: 1em 2em 1em 2em;
            margin: 1em 0.5em 0.5em 0.5em;
            color: #FFFFFF !important;
        }
        && p {
            text-align: center;
        }
        && .card-body {
            && ul {
                margin-top: 2em;
            }
            && li {
                text-align: start;
                color: #213E4E;
                list-style-type:circle;
                margin: 0em 4em 0em 2em;
            }
            && .card-button {
                padding: 0.8em 2em 0.8em 2em;
                margin: 1em 0.5em 0.5em 0.5em;
                width: 90%;
                color: #FFFFFF;
                background-color: #FB8B9B;
                cursor: pointer;
                border: 0;
                outline: none;
            }
            && .card-button:active {
                background-color: #ff6d83;
            }
        }
        && button::after {
            background-color: #fa1b3c;
        }
    }
}

.contact-cards {
    width: 30%;
    .contact-card-body {
        width: 100%;
        border: 1px dashed #213E4E;
        border-width: 0px 0px 1px 0px;
    }
}

.description {
    padding: 0em 1em 0em 1em;
    color: #213E4E;
}

.map-container {
    display: flex;
    align-content: center;
    justify-content: center;
    && .contact-map {
        width: 100%;
        border: 1px solid #5A5B5D;
    }
}

.pink-font {
    color: #FB8B9B;
}

.contact-type {
    text-decoration: none;
    border-bottom: dotted 1px #213E4E;
}

.contact-address {
    font-style: italic;
}

.contact-margin {
    margin-top: 1em;
}